td {
    width: 3vh;
    height: 2.5vh;
    background-color: #000;
    position: relative;
    z-index: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: 0;

}
td.pixel {
    width: 3vh;
    height: 2.5vh;
    background-color: #000;
    position: relative;
    z-index: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    animation-delay: 135ms;
    transition:cubic-bezier(1, 0, 0, 1) 0.000001s;
    transition-delay: 75ms;
    transition-delay: 135ms;
    transition: ease-in-out 0.000001s;
    transition: ease-in-out 135ms;
    transition: ease-in-out 135ms, cubic-bezier(1, 0, 0, 1) 0.000001s;
    transition: ease-in-out 135ms, cubic-bezier(1, 0, 0, 1) 0.000001s, ease-in-out 0.000001s;
    transition: ease-in-out 135ms, cubic-bezier(1, 0, 0, 1) 0.000001s, ease-in-out 0.000001s, ease-in-out 135ms;
    transition: ease-in-out 135ms, cubic-bezier(1, 0, 0, 1) 0.000001s, ease-in-out 0.000001s, ease-in-out 135ms, cubic-bezier(1, 0, 0, 1) 0.000001s;
}
.pixel-index {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    font-size: 0.5vh;
    font-weight: bold;
    padding: 0;
    margin: 0;
    
}