// Footer container
.footDiv {
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 0;
    bottom: 0;
    // add a value for the width
    background-color: #333;
    height: 60px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
  // Link styling
  .footLink {
    text-decoration: none;
  }
  
  // Footer button styling
  .footButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    height: 100%;
    outline: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  
  // Footer item text
  .footName {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 1rem;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;

  }
  
  .logo {
    width: 40px;
    height: auto;
    margin-left: 1rem;
  }
  
  .hamburger {
    display: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    padding: 0 1rem;
  }
  
  .footButtons {
    display: flex;
    align-items: center;
  }
  
  .footButtons.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    
  }
  
  @media (max-width: 768px) {
    .footButtons {
      display: none;
    }
  
    .footButtons.active {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }
  }
  
  